<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="well">
<h1>Top skills at {{company}} </h1>
<table>
    <tr>
     <td width="50%" text-align="center">
<div id="navcontainer">
<ul>
{% for skill in top_skills %}
    {% if skill in user_skills %}
        <li><div class="tick_skill"><a href="#">{{skill}}</a></div></li>
    {% else %}
        <li><div class="no_tick_skill"><a href="#">{{skill}}</a></div></li>
    {% endif %}
{% endfor %}
</ul>
    </div>
    </td>
        <td width="50%">
            <img src="/static/img/graph_{{company}}.png??xxx={{curr_time}}" alt="" title="" align="right" height="500px" width="500px"/>
        </td>
    </tr>
</table>

<hr>
<h1>Your profile score : {{score}}</h1>
<hr>

</div>
{% endblock %}