<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>User: {{user.nickname}}!</h1>
<hr>


 <div class="slider-wrapper theme-default">
 <div class="ribbon"></div>
 <div id="slider" class="nivoSlider" style="left:400px right:400px" text-align="center">

    <a href="http://dev7studios.com"><img src="/static/img/toystory.jpg" alt="" title="#htmlcaption" /></a>
    <img src="/static/img/up.jpg" alt="" title="This is an example of a caption" />
    {%for company_profile in top_companies%}
    <img src="{{ url_for('static', filename = 'img/')}}{{company_profile[0][0].lower()}}.jpg" alt=""/>
    {% endfor %}
</div>
</div>
</div>
<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>
{% endblock %}